@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
	height: 3px;
	background-color: #ef1617;
	border: none;
}
.ant-table-tbody .ant-table-row:nth-child(even) {
	background-color: #f9fafc;
}

.loader {
	border-top-color: #ef1617;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
